body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: gray;

}

.list {
    border: 1px solid lightgray;
    padding:2px;
    margin:3px;
    background-color:lightyellow;

}

.btn-primary{
    position: fixed;
    bottom:0px;
    float: right;
    margin-left: 251px;
}

textarea.form-control {
    resize:none;
    height: 75vh;
}